@model IEnumerable<TodMovies.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<table id="movies" class="table">
    <thead>
        <tr>
            <th>Movie Name</th>        
            <th>Genre</th>        
            <th>Release Time</th>        
            <th>Added Date</th>        
            <th>Stock Number</th>              
        </tr>
    </thead>
        <tbody>
          
        </tbody>
    
</table>
@section scripts 
    {
        <script>
            $(document).ready(function () {
                var table = $("#movies").DataTable({
                    ajax: {
                        url: "/api/movies",
                        dataSrc:""
                    },
                    columns: [
                        {
                            data: "name"
                        },
                        {
                            data:"genre.name"
                        },
                        {
                            data: "releaseTime",
                            render: function (data) {
                                var year = parseInt(data.substr(0,4))
                                var month = parseInt(data.substr(5,2))
                                var day = parseInt(data.substr(8, 2))
                                var date = new Date(year, month-1, day)
                                return day + " " + date.toString().substr(4, 3) + " " + year;
                            }
                        },
                        {
                            data: "dateAddded",
                            render: function (data) {
                                var year = parseInt(data.substr(0, 4))
                                var month = parseInt(data.substr(5, 2))
                                var day = parseInt(data.substr(8, 2))
                                var date = new Date(year, month-1, day)
                                return day + " " + date.toString().substr(4, 3) + " " + year;
                            }
                        },
                        {
                            data:"numberInStock"
                        }
                    ]
                });

            
            });
        </script>    
    }