
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

    <section class="p-5 h-75">
        <div class=" h-50 d-flex align-items-center flex-column justify-content-around">
            <div class="d-flex align-items-center flex-column">
                <p style="color: #4989FD;" class=" display-4 font-weight-bold text-center">Online Solutions</p>
                <p class="display-4 text2-color text-center font-weight-bold">to boost your website</p>
            </div>

            <div class="row justify-content-center">
                <span class="text-light font-weight-bold mybtnclass">Our Services</span>
                <div class="iclass"></div>
                <span class="mybtn2class font-weight-bold ">Learn More</span>
            </div>
        </div>

        <div class="row visitCont">
            <span class="col-md-4 "></span>
            <div class="text3 visit  col-md-8 col-sm-8   ">
                <p style=" padding-left: 40%; display: inline-block;">Visit US On Social Media </p>
                <p style="margin-left: 20px;text-align: center;padding-top: 9px; width: 40px;display: inline-block; height: 40px; border-radius: 50%;color:white;background-color: #4989FD; border:#4989FD 2px solid;">FB</p>
                <p style="text-align: center;padding-top: 9px; width: 40px;display: inline-block; height: 40px; border-radius: 50%;color:white;background-color: #4989FD; border:#4989FD 2px solid;">IN</p>
            </div>
        </div>
    </section>
</body>
</html>