
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required class="typeahead form-control" type="text" placeholder="Customer Name">
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-oneMovie="true" class="typeahead form-control" type="text" placeholder="Movie Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            var vm = {
                movieIds:[]
            }
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.CustomerId = customer.id;
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                $("#movie").typeahead("val", "");
                vm.movieIds.push(movie.id)
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.CustomerId && vm.CustomerId != 0;
            }, "Please select a valid Customer.");
            $.validator.addMethod("data-rule-oneMovie", function () {
                return vm.movieIds.length >= 1;
            },"Please select one or more movie.");
            var validator = $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/NewRental",
                        method: "POST",
                        data: vm,
                    })
                        .done(function () {
                            toastr.success("New Rental successfuly added.");
                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();
                            validator.resetForm();
                        })
                        .fail(function () {
                            toastr.fail("Something unexpected happend!")
                        })
                    return false;
                }
            });


        });
    </script>
}


